body {
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default {
    background: url(../images/about.png) 50% 0 fixed;
}

.active {
    background: url(../images/active.png) 50% 0 fixed;
}

.container {
    padding: 0;
}

#intro {
  background: url(../images/intro.png) 50% 0 fixed;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 100px 0;
}

#home {
  background: url(../images/home.jpg) 50% 0 fixed;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 320px 0;
}

#requirements {
  background: url(../images/intro.png) 50% 0 fixed;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  padding: 100px 0;
}

#intermission {
  background: url(../images/intermission.jpg) 50% 0 fixed;
  height: 60px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  padding: 50px 0;
}

#about {
  background: url(../images/about.png) 50% 0 fixed;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  padding: 100px 0;
  color: #fff;
}

.hero-unit {
    font-family: 'Alegreya SC', arial;
    background: url(../images/about.png) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 90%;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    border-radius: 14px;
    padding: 25px;
    color: #fff;
    font-size: 22px;
    text-align: center;
}

.media-object {
  width: 64px;
  height: 64px;
  padding-bottom: 30px
}

.navbar-retro {
    background-color: #996633;
}

.title-image {
    padding-bottom: 60px;
}
